<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FullScreenStats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FullScreenStats.Properties.Settings>
            <setting name="selected_monitors" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="background_color" serializeAs="String">
                <value>#b8b8b8</value>
            </setting>
            <setting name="show_fps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="show_temps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="show_media" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="show_networkStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="show_systemTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="background_image" serializeAs="String">
                <value />
            </setting>
            <setting name="use_background_image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="global_font" serializeAs="String">
                <value />
            </setting>
        </FullScreenStats.Properties.Settings>
    </userSettings>
</configuration>