<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AverageBuddy" version="2.0.0" targetFramework="net472" />
  <package id="ColorPickerWPF" version="1.0.9" targetFramework="net472" />
  <package id="FontBuddy" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.UI.Xaml" version="2.4.0" targetFramework="net472" />
  <package id="NvAPIWrapper.Net" version="0.8.0.98" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.7.0" targetFramework="net472" />
  <package id="WpfScreenHelper" version="0.4.0" targetFramework="net472" />
</packages>